<h1>Eat Da Burger</h1>
<img src="https://ih0.redbubble.net/image.568568800.3284/pp,550x550.u1.jpg" alt="Cute Burger">

<h2>Eat Some Burgers!</h2>

<ul>
    {{#each burgers}}
    {{#unless this.eaten}}
    <li>
        {{this.name}}
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="eaten" value="true">
            <button type="submit">Eat da burger!</button>
        </form>

    </li>

    {{/unless}}
    {{/each}}
</ul>

<h2>Eaten Burgers!</h2>

<ul>
    {{#each burgers}}
    {{#if this.eaten}}
    <li>
        {{this.name}}
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="eaten" value="false">
            <button type="submit">Eat it again!!</button>
        </form>
    </li>

    {{/if}}
    {{/each}}
</ul>


<form action="/burgers/create" method="POST">
    <label>Add a new Burger you would like to eat:</label>
	<textarea type="text" name="name"></textarea>
	<button type="submit">Submit</button>
</form>